* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;800&display=swap");

header {
  background: white;
  width: 100vw;
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-buttom {
  display: flex;
  background: black;
  width: 70%;
  height: 27px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 30%;
  height: 100%;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
}
.menu-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

ul {
  width: 50%;
  height: 6vh;
  display: flex;
  padding-right: 20px;
  justify-content: right;
}

li {
  width: 8vw;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li:hover {
  font-weight: 700;
  cursor: pointer;
}

main {
  background: purple;
  width: 100vw;
  height: 150vh;
}

.banner-container {
  background: #007bd1 url(./Imagens/laranja\ azul\ recorte.png) center;
  background-size: cover;

  width: 100vw;
  height: 780px;
}

h2,
h3 {
  color: white;
}

h2 {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding-left: 95px;
  position: relative;
  top: 305px;
  left: 38px;
}

h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-left: 95px;
  position: relative;
  top: 360px;
  left: 38px;
}

@media (max-width: 480px) {
  .menu-buttom {
    display: flex;
    background: black;
    width: 70%;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line {
    background: white;
    width: 25px;
    height: 2px;
    margin: 2px;
  }

  h1 {
    width: 30%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  ul,
  li,
  ul li:hover {
    display: none;
  }

  header {
    background: white;
    width: 100vw;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main {
    background: rgb(235, 80, 235);
    width: 100vw;
    height: 100vh;
  }

  .banner-container {
    background: #007bd1 url(./Imagens/laranja\ azul\ recorte\ resp.png) center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100vw;
    height: 640px;
  }

  h2 {
    font-size: 3rem;
    padding-left: 20px;
    position: relative;
    top: 390px;
  }

  h3 {
    font-size: 1rem;
    font-weight: 300;
    padding-left: 60px;
    position: relative;
    top: 415px;
  }
}
